#menu
{
	position: fixed;
	width: 100%;
	height: 35px;
	background: white;
}

.navbar {
  overflow: hidden;
  background-color: rgb(75, 60, 160);
  position: fixed;
  top: 0;
  width: 100%;
}
  
  .navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .navbar a:hover {
	background: rgb(103, 85, 207);
	color: black;
  }
  
  .main {
	padding: 16px;
	margin-top: 30px;
	height: 1500px; /* Used in this example to enable scrolling */
  }
  body {
	margin:0;
	background-image: url('bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
  }
  h2{
	  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
	  text-align: center;
	  

  }